# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# Python Cache & Build Files
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Jupyter Notebook Files
# ===============================
.ipynb_checkpoints/

# ===============================
# Model Artifacts
# ===============================
models/
*.pkl
*.joblib

# ===============================
# Output Files (Plots, Tables)
# ===============================
outputs/
data/processed/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor Config
# ===============================
.vscode/
.idea/

# ===============================
# Temporary Files
# ===============================
*.tmp
*.bak
